<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container">
        <a class="navbar-brand" [routerLink]="homeLink">
            <img class="brand-logo" src="https://www.freepnglogos.com/uploads/recycle-png/recycle-recycling-symbol-png-transparent-clipart-best-23.png" alt="Recycle" />
            <span class="brand-name">Recycle</span>
        </a>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                <li class="nav-item">
                    <a class="nav-link" href="/article/{article.id}">Descubre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Nosotros</a>
                </li>
            </ul>
            @if (auth.currentUser(); as user) {
            <form class="d-flex" role="search">
                <input class=" form-control me-2" type="search" placeholder="Buscar artículos..." aria-label="Buscar artículos..." />
            </form>
            @if (user.role === 'Administrador') {
            <a class="btn-admin" routerLink="/admin">
                <i class="bi bi-shield-check"></i>
                Panel Admin
            </a>
            }
            <div class="btn-role" (click)="goToProfile(user.id)">
                <i class="bi bi-person"></i>
                Mi perfil
            </div>
            <button class="btn-sell" type="button" (click)="sellProducts()">
          + Vender
        </button> } @else {
            <button class="btn-login" type="button" (click)="openLoginModal()">
          Login
        </button> }
        </div>
    </div>
</nav>

<app-register-modal></app-register-modal>