<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Servir archivos y carpetas reales (assets, js, css, imágenes...)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
